html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 15px 10px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

/* navbar */

.navbar {
  padding: 1.5% 5%;
}

.nav-text {
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* promocion e imagenes */

.container-fluid {
  padding: 3% 10%;
}

/* newsletter */

.newsletter {
  padding: 5% 3%;
  border: 2px solid black;
  border-radius: 5px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

/* footer */

#footer {
  background-color: black;
  margin: 0;
}

#footer i,p,a {
  color: white;
  padding: 22px 0;
  margin: 0 10px;
}
