html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
}

.navbar {
  padding: 1.5% 20%;
}

/* promocion e imagenes */

.container-fluid {
  padding: 1.5% 25%;
}

/* newsletter */

.newsletter {
  padding: 1.5% 3%;
}

/* footer */

#footer {
  background-color: black;
  margin: 0;
}

#footer i,p,a {
  color: white;
  padding: 22px 0;
  margin: 0 10px;
}
